<%-include('../layouts/header.ejs') %>



<main >
    <div class="container" >

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="/" class="logo d-flex align-items-center w-auto">
                  <img src="" alt="">
                  <span class="d-none d-lg-block">MOTOGEAR</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3" style="border-radius: 25px; background-color: #FF084E ;">

                <div class="card-body" style="background-color: #fff; border-radius: 12em 23px 23px 23px">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4" >Welcome Back</h5>
                    <p class="text-center small">Enter your email & password</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate method="post">

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Email</label>
                      <div class="input-group has-validation">
                       
                        <input style="border-radius: 20px;" type="email" name="email" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Please enter your Email!</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input style="border-radius: 20px;" type="password"  name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn  w-100"  style="background-color: #fff;border-color: #FF084E;border-radius: 25px ;color: #FF084E;"  type="submit">Login</button>
                    </div>
                    <div class="col-12">
                   <a href="/register">   <button class="btn  w-100"  style="background-color: #fff;border-color: #FF084E;border-radius: 25px ;color: #FF084E;"  type="button">Get Started</button></a>

                   <a href="/forgetpassword" style="font-size: 12px; padding-left: 5px;">Trouble logging in?</a>

                   

                    <% if(typeof message!=='undefined' ){ %>
                        <P style="color: rgb(239, 15, 15);">
                            <%= message %>
                        </P>
                        <% } %>
                   

                    </div>
                    
                    
                  
                     
                   
                  </form>

                </div>
              </div>

            

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



<%-include('../layouts/footer.ejs') %>