
<%-include('../layouts/header.ejs') %>

<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="logodiv">
                <a href="/" class="logo d-flex align-items-center ">
                  <img src="/assets/img/Black logo - no background.svg" alt="" >
               
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form class="row g-3" action="" method="post"  onsubmit="return validatePassword()">
                    <div class="col-12">
                      <label for="yourName" class="form-label">Your Name</label>
                      <input type="text" minlength="3" name="name" onkeypress="return onlyAlphabeticKey(event)" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Your Email</label>
                      <input type="email" name="email" class="form-control" id="yourEmail" required>
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                
                    <div class="input-group mb-3">
                      <label for="yourUsername" class="form-label"> Contact Number</label>
                      <div class="input-group has-validation">
                      <input type="text" class="form-control"   name="mobile" onchange="" aria-label="Recipient's username" onkeypress="return onlyNumberKey(event)"  maxlength="10" minlength="10"  aria-describedby="basic-addon2" required>
                     

                      <div class="invalid-feedback">Please enter your Contact Number!</div>
                    </div>
                    </div>
                  

                 

                    <div class="col-12">
                      <label for="yourReferalCode" class="form-label">Referal ID(optional)</label>
                      <input type="text"  name="referalid" class="form-control" minlength="6" maxlength="6" id="yourReferalCode">
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password"  name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit"
                      onsubmit="return validateForm()">Request OTP</button>
                    </div>

                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="/login">Log in</a></p>
                      <p style="color: green;"></p>
                      <p style="color:red;"></p>
                    </div>

                    <%
                    if(typeof messagered!=='undefined'){
                       %>
                       <p style="color: red;"><%= messagered %></p>
                       <%
               
                    }
                   
                   %>

                    <%
                    if(typeof message!=='undefined'){
                       %>
                       <p style="color: #08aa08;"><%= message %></p>
                       <%
               
                    }
                   
                   %>
                  </form>

                </div>
              </div>

             

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <style>
     body {
  background-image: url("/assets/img/Outback-D-2560x850.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  backdrop-filter: blur(10px);
}


.logodiv{
  position: fixed;
  left: 20px;
  top:20px;
  width: 5rem;
  
}

.btn {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #23527c;
  color: #fff;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 5px #23527c;
}

  </style>

  <script>


     function onlyNumberKey(evt) {
                  
                  // Only ASCII character in that range allowed
                  var ASCIICode = (evt.which) ? evt.which : evt.keyCode
                  if (ASCIICode < 48 || ASCIICode > 57){
                      return false;}
                  return true;
              }



              function onlyAlphabeticKey(evt) {
  var ASCIICode = evt.which ? evt.which : evt.keyCode;
  if ((ASCIICode < 65 || ASCIICode > 90) && (ASCIICode < 97 || ASCIICode > 122)) {
    return false;
  }
  return true;
}


    </script>
  <%-include('../layouts/footer.ejs') %>