
<%-include('../layouts/header.ejs') %>

<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="logodiv">
                <a href="/" class="logo d-flex align-items-center ">
                  <img src="/assets/img/Black logo - no background.svg" alt="" >
               
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Verification</h5>
                    <p class="text-center small">Enter your One Time Password</p>
                  </div>


                  <form class="row g-3" action="/verifyotp" method="post"  >
                    <div class="input-group mb-3">
                      <label for="yourUsername" class="form-label"> Enter OTP</label>
                      <div class="input-group has-validation">
                      <input type="text" class="form-control" name="otp" onchange="" aria-label="Recipient's username" onkeypress="return onlyNumberKey(event)"  maxlength="6" minlength="6"  aria-describedby="basic-addon2" required>
                     

                      <div class="invalid-feedback">Please  enter your One Time Password!</div>
                    </div>
                    </div>
                   
                      <div class="col-12">
                      <button class="btn  w-100" type="submit"
                      >Verify</button>
                    </div>
                    <div class="col-12">
                      <p style="color:red;"></p>
                    </div>

                    <%
                    if(typeof messagered!=='undefined'){
                       %>
                       <p style="color: red;"><%= messagered %></p>
                       <%
               
                    }
                   
                   %>

                    <%
                    if(typeof message!=='undefined'){
                       %>
                       <p style="color: #08aa08;"><%= message %></p>
                       <%
               
                    }
                   
                   %>
                  </form>

                </div>
              </div>

             

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <style>
     body {
  background-image: url("/assets/img/Outback-D-2560x850.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  backdrop-filter: blur(10px);
}


.logodiv{
  position: fixed;
  left: 20px;
  top:20px;
  width: 5rem;
  
}

.btn {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #23527c;
  color: #fff;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 5px #23527c;
}
  </style>
  <script>


     function onlyNumberKey(evt) {
                  
                  // Only ASCII character in that range allowed
                  var ASCIICode = (evt.which) ? evt.which : evt.keyCode
                  if (ASCIICode < 48 || ASCIICode > 57){
                      return false;}
                  return true;
              }
    </script>
  <%-include('../layouts/footer.ejs') %>